= simple_form_for(@game) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :description, as: :text
    = f.input :genre
    - if @game.persisted?
      = f.input :starting_room_id, collection: @game.rooms.asc(:name), prompt: "Select the room the game starts in"

  %ul.form-actions
    - if @game.persisted?
      %li= link_to 'Show', @game
    %li= link_to 'Back', games_path
    %li= f.button :submit
