%header
  %h1 Listing Games
  %aside
    %nav
      = link_to '+', new_game_path, title: "New game"
#main
  %aside
  .items
    - @games.each do |game|
      .game
        -# # .cover= link_to image_tag('beer_mug_144.png'), terminal_path(title: game.parameterized_title)
        .cover= link_to image_tag('beer_mug_144.png'), game
        %h2= game.title
%footer
  = paginate @games
  = page_entries_info(@games).html_safe