%header
  %h2= @game.title
  #map
#main
  %aside
    %nav
      %ul
        - [:database, :inventory].each do |link|
          %li= link_to link.to_s.titleize, "##{link}", id: "#{link}_tab"
    %dl#database
      = render partial: 'entry', collection: @game_save.entries.asc(:name)
    %ul#inventory
      %li One slightly abused and musty backpack
      %li Death-Rä (tm)
  #main-screen
    #location
      = @game_save.generate_map
    #history
      = render partial: 'game_state', collection: @game_save.current_room_history
%footer
  = render 'command_line'