= simple_form_for([@game, @room]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :yaml, as: :text, label: false
  .form-actions
    %nav
      %ul
        -# - if @room.persisted?
        -#   %li= link_to 'Show', [@game, @room]
        %li= link_to 'Back', edit_game_path(@game)
        %li= f.button :submit
